.slider img, .card-image {
   height: 450px;
   object-fit: cover;
}

.pointer {
   cursor: pointer;
}

.inactiveLink {
   pointer-events: none;
   cursor: not-allowed;
}

/* Shop Nav CSS */
.ant-menu-submenu li {
   padding-left: 16px !important;
}

span.ant-menu-title-content {
   overflow: visible !important
}

.ant-menu-inline .ant-menu-item {
   height: auto;
}

.shopNavSub {
   width: 100px
}

span.h6 {
   margin-bottom: 0;
}

/* fixing ant designs icons alignment and header menu spaceing */

.anticon {
   vertical-align: 0em;
}
.ant-menu-item-group-title {
   display: none;
}

.ant-menu {
   justify-content: space-between;
}


.ant-menu::before, .ant-menu::after {
   content: none;
}

.ant-card .ant-card-actions {
   background-color: rgba(0, 0, 0, 0.075);
}

/* breakpoints */

@media only screen and (min-width: 768px) {
   .card-cols {
      width: 33.333% !important
   }
   
   .store-mobile {
      padding-left: 0 !important;
   }
   
   .search-icon {
      display: flex;
      align-items: center;
   }


   .card-cols-store {
      width: 33.333% !important
   }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
   .card-cols-store {
      width: 50% !important
   }

   .display-sm {
      display: none !important
   }

   .store-mobile {
      padding: 16px 16px !important
   }
}

@media only screen and (max-width: 480px) {
   .card-cols-store {
      width: 100% !important
   }

}